.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.cardlar{
  display: flex;
  flex-wrap: wrap;}
.card1{
  width: 250px;
}

.col-4{
  background: #FFFFFF;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
width: 350px !important;
height: 60px !important;
margin:  20px 40px;
}

.col-4 img{
  width: 30px !important;
  height: 30px;
  margin-top: 7px;
}
.col-4 h2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 16px;
display: flex;
align-items: center;
color: #181818;
text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
margin-left: 15px;
}

.box h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 16px;
text-align: center;
color: #056A1C;
}

.card1{
  width: 180px;
  height: 300px;
  margin: 30px 30px;
}

.cardlar .card{
  width: 200px;
  height: 250px !important;
}

.cardlar .card h2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* or 133% */

display: flex;
align-items: center;

color: #000000;
}
.cardlar .card img{
  width: 200px;
  height: 200px !important;
}

.img{
  margin-left: 120px;
 position: relative;
 bottom: 50px;
}

.card1 button{
  background: #056A1C;
border: 1px solid #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 6px;
height: 40px !important;
width: 140px;
margin-top: 10px;
}

.card1 button h2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}
.text h2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 16px;
display: flex;
align-items: center;
color: #056A1C;
}
.box1{
  height: 350px;
}

.box1 .box{
  margin-top: 50px;
}

.box2{
  height: 500px !important;
  position: relative;
  top: 220px;
}

.imglar{
  width: 100px;
  height: 100px;
  margin:  0 30px;
  border-radius: 50%;
}

input{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);

}
 .inp{
  margin: 30px 0;
 }

 .rasm{
  margin-top: 40px;
 }

 .savat{
  margin-left: 15px;
 }

 .col-10{
  margin: 50px 0 !important;
  

 }
 .col-10 .card{
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
 }

 .kard img{
  width: 400px;
  height: 300px;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 10px;
 }

 .kard h2{
  text-align: center;
  position: relative;
  bottom: 220px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 16px;
color: #000000;

 }

 .row1{
  display: flex;
  justify-content: center;
 }
 .col-10 button{
  width: 80px;
 }
 .buttonlar{
  /* margin-left: 600px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 200px;
 }
 .buttonlar button{
  margin: 0 10px;
 }